/* CSS reset*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
/* CSS variables*/
:root{
    --navbar-height:59px;
}
/* Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Images */
#logo{
    margin: 5px 15px;
    
}

#logo img{
    height: 70px;
    margin: 1px 8px;
    border-radius: 10px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
   background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 3px 200px;
    height: 495px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    background:url(bg3.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Bree Serif', serif;
}
/*Services Section */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
   border: 2px solid black;
   margin: 2px 25px;
   padding: 12px;
   border-radius: 23px;
   background:#eecbcb;
   margin-bottom: 20px;

}
#services .box img{
  height: 160px; 
  margin: auto;
  display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section{
 /* height: 300px; */
 /* position: relative; */
 padding-bottom: 20px;
}
#client-section::before{
 content: "";
 position: absolute;
 background: url(bg2.jpg);
 height: 100%;
 width: 100%;
 z-index: -1;
 opacity: 0.8;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 10px;
}
#clients img{
 height: 100px;
}

/* Contact Section*/

#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.5;
background: url(contact\ us\ logo.png) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
width: 100%;
padding: 0.2rem;
border-radius: 10px;
font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family:  'Bree Serif', serif;
}

footer{
    background: black;
    color: white;
    padding: 9px;

}

/* Utility Classes */
.h-primary{
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}
.h-secondary{
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}
.btn{
    padding:  5px 12px;
    border: 2px solid black;
    background-color: chocolate;
    color: white;
    margin: 17px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;

}
.center{
    text-align: center;
}